body {
	width:auto;
	height:auto;
	color:white;
	background-color:#000011;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
.container {
	margin:auto;
	width:50%;
}
hr {
	margin-left:auto;
	margin-right:auto;
	width:250px;
	border-color:#FF5900;
}
h1 {
	color:#FF5900;
}
h3 {
	margin:0;
}
button {
	width:100px;
	height:30px;
	font-size:16px;
	background-color:#000011;
	color:white;
	border-color:#FF5900;
	border-radius:4px;
}
button:hover {
	background-color:#FF5900;
	cursor:pointer;
}
.pageButton {
	width:80px;
	height:25px;
	font-size:12px;
	margin:0 5px 0 5px;
}